<h1>Create Username</h1>

<form action="<%= users_url %>" method="post">
    <label> Email:
        <input type="text" value="user[email]">
    </label>

    <label> Password:
        <input type="password" value="user[password]">
    </label>

</form>